<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>HRMS</span>
    <span class="example-spacer"></span>

</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="table" mat-button><mat-icon>home</mat-icon> Employee</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="slider" mat-button><mat-icon>explore</mat-icon> Departement</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="absence" mat-button><mat-icon>table</mat-icon> Absence</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="conge" mat-button><mat-icon>settings</mat-icon> Conge</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>analytics</mat-icon> Prime</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>