.mat-toolbar.mat-dark {
    background: #000;
    color: #fff;
}

.login-button-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.button-container {
    display: flex;
    gap: 10px; /* Adjust the spacing between buttons */
}

.mat-button {
    background-color: #007bff; /* Change the background color */
    color: #fff; /* Change the text color */
}

.center-button-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -10px;
}

.center-button-container button {
    margin: 0 10px;
}

.center-button-container span {
    display: flex;
    align-items: center;
}
