<div mat-dialog-title>
    <h1>Apply Leave Form</h1>
</div>

<form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <!-- Reason Field -->
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Reason</mat-label>
                <input matInput type="text" placeholder="Enter reason" formControlName="reason">
            </mat-form-field>
        </div>

        <!-- Date Range Fields -->
        <div class="row">
            <!-- Start Date -->
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>

            <!-- End Date -->
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- Period Field -->
        <div class="row">
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Period (in days)</mat-label>
                <input matInput type="number" placeholder="Enter period" formControlName="period">
            </mat-form-field>
        </div>

        <!-- Additional Comments Field -->
        <div class="row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Additional Comments</mat-label>
                <textarea matInput rows="4" placeholder="Enter additional comments" formControlName="comments"></textarea>
            </mat-form-field>
        </div>
    </div>

    <!-- Form Actions -->
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>
