<!-- Layout wrapper-->
<div id="layoutDrawer">
    <!-- Layout content-->
    <div id="layoutDrawer_content">
        <!-- Main page content-->
        <main>
            <!-- Main dashboard content-->
            <div class="container-xl p-4">
                <div class="row justify-content-between align-items-center mb-4">
                    <div class="col flex-shrink-0 mb-4 mb-md-0">
                        <h1 class="display-4 mb-0">Employee Dashboard</h1>
                        <div class="text-muted">Human Resources Management System &amp; summary</div>
                    </div>
                </div>
                <!-- Colored status cards-->
                <div class="row gx-5">
                    <div class="col-xxl-3 col-md-6 mb-5">
                        <div class="card card-raised bg-primary text-white">
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="me-2">
                                        <div class="display-5 text-white">2</div>
                                        <div class="card-text">Leaves & Absence</div>
                                    </div>
                                    <mat-icon class="text-white">beach_access</mat-icon>
                                </div>
                                <div class="card-text">
                                    <div class="d-inline-flex align-items-center">
                                        <mat-icon class="icon-xs">arrow_upward</mat-icon>
                                        <div class="caption fw-500 me-2">3%</div>
                                        <div class="caption">from last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 mb-5">
                        <div class="card card-raised bg-warning text-white">
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="me-2">
                                        <div class="display-5 text-white">1</div>
                                        <div class="card-text">Pending</div>
                                    </div>
                                    <mat-icon class="text-white">schedule</mat-icon>
                                </div>
                                <div class="card-text">
                                    <div class="d-inline-flex align-items-center">
                                        <mat-icon class="icon-xs">arrow_upward</mat-icon>
                                        <div class="caption fw-500 me-2">3%</div>
                                        <div class="caption">from last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 mb-5">
                        <div class="card card-raised bg-secondary text-white">
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="me-2">
                                        <div class="display-5 text-white">2</div>
                                        <div class="card-text">Approved</div>
                                    </div>
                                    <mat-icon class="text-white">thumb_up</mat-icon>
                                </div>
                                <div class="card-text">
                                    <div class="d-inline-flex align-items-center">
                                        <mat-icon class="icon-xs">arrow_upward</mat-icon>
                                        <div class="caption fw-500 me-2">3%</div>
                                        <div class="caption">from last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-6 mb-5">
                        <div class="card card-raised bg-info text-white">
                            <div class="card-body px-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="me-2">
                                        <div class="display-5 text-white">0</div>
                                        <div class="card-text">Disapproved</div>
                                    </div>
                                    <mat-icon class="text-white">thumb_down</mat-icon>
                                </div>
                                <div class="card-text">
                                    <div class="d-inline-flex align-items-center">
                                        <mat-icon class="icon-xs">arrow_upward</mat-icon>
                                        <div class="caption fw-500 me-2">3%</div>
                                        <div class="caption">from last month</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
